@import "../../style/_main.scss";

.introduction {
  margin-bottom: 70px;
}

.introTitleFormation {
  color: $txtColorPrimary;
  font-size: 34px;
}

.formation {
  color: $txtColorPrimary;
}

.introTitleDegree {
  @include flexJustifyCenter;
  margin-top: 100px;
  color: $txtColorPrimary;
  font-size: 28px;
}

.introTitleCertification {
  @include flexJustifyCenter;
  margin-top: 100px;
  margin-bottom: 70px;
  color: $txtColorPrimary;
  font-size: 28px;
}

.sectionDegree {
  border-top: 10px solid $themeBooki;
  margin-bottom: 70px;
}

.sectionCertification {
  border-top: 10px solid $themeGroupomania;
  margin-bottom: 70px;
}

.diploma {
  @include flexJustifyCenter;
  margin-top: 150px;
  margin-left: 10%;
  width: 80%;
}

.diplomaDev {
  @include flexDirectionCol;
  align-items: center;
}

.ligne1 {
  @include flexDirectionRow;
  justify-content: center;
  margin-top: 150px;
}

.ligne2 {
  @include flexDirectionRow;
  justify-content: center;
  margin-top: 70px;
  width: 90%;
}

.iconAndDescription {
  @include flexDirectionRow;
  align-items: center;
  min-width: 30%;
  width: 27%;
}

.linkDegree {
  width: 15%;
  height: 70px;
}

.iconDiploma {
  @include flexJustifyCenter;
  align-items: center;
  color: $txtColorPrimary;
  font-size: 30px;
  border: 2px solid $txtColorPrimary;
  opacity: 0.5;
  border-radius: 33px;
  background-color: black;
  width: 100%;
  height: 70px;
  margin-right: 5%;
  z-index: 2;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 6px 10px $buttonColor;
    opacity: 1;
  }
}

.descriptionDiploma {
  width: 80%;
  color: $txtColorPrimary;
  text-align: center;
}
