@import "../../style/_main.scss";

.pageLoader {
  @include flexJustifyCenter;
  align-items: center;
  position: fixed;
  background: white;
  z-index: 5;
  height: 100%;
  width: 100%;
  @include spinner;
}

@keyframes animation-chargement {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  99% {
    z-index: 5;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.circle1 {
  border: 10px solid transparent;
  border-top: 10px solid $themeBooki;
  border-bottom: 10px solid $themeGroupomania;
  border-radius: 90%;
  z-index: 4;
  width: 100px;
  height: 100px;
  animation: rotate-center 1s linear 0.6s;
  animation-iteration-count: 3;
}
.circle2 {
  border: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-radius: 90%;
  z-index: 3;
  width: 80px;
  height: 80px;
}

.circle3 {
  border: 10px solid transparent;
  border-bottom: 10px solid $themeOhmyfood1;
  border-top: 10px solid $themeLaChouetteAgence;
  border-radius: 90%;
  z-index: 2;
  width: 60px;
  height: 60px;
  animation: rotate-center 1s linear 0.6s;
  animation-iteration-count: 3;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
