@import "../../style/_main.scss";

//Background//
.homePage {
  background-color: black;
}

body {
  background-color: black;
}

//ensemble des éléments//
.presentation {
  width: 50%;
}

.txt {
  @include flexDirectionCol;
  width: 85%;
  padding-left: 29%;
}

//titre//
h1 {
  @include policeTxt;
  font-size: 48px;
  color: $txtColorPrimary;
  margin-top: 150px;
  margin-bottom: 70px;
}

//Paragraphe présentation//
.shortPresentation {
  @include police-txt-second;
  @include flexJustifyCenter;
  font-size: 22px;
  width: 85%;
  color: $txtColorPrimary;
}

//Bouton//
.go {
  background-color: $buttonColor;
  margin-top: 50px;
  width: 35%;
  height: 60px;
  border-radius: 13px;
  border: 1px solid $buttonColor;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 6px 10px $buttonColor;
  }
  & a {
    color: $txtColorPrimary;
    width: 100%;
    text-decoration: none;
    font-size: 25px;
  }
}

// Ensemble des éléments footer//
.homeFooter {
  @include flexDirectionRow;
  @include homeTabletsFooter;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
}

//Ensemble des boutons des liens réseaux sociaux//
.linkButton {
  @include homeTabletsLinkButton;
  margin-top: 180px;
  margin-left: 14%;
  @include flexJustifyFlexStart;
  width: 40%;
}

//Bouton lien//
.link {
  border: 2px solid $txtColorPrimary;
  opacity: 0.5;
  border-radius: 13px;
  background-color: black;
  width: 28%;
  height: 70px;
  margin-right: 5%;
  z-index: 2;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 6px 10px $txtColorPrimary;
    opacity: 1;
  }
}

// Texte React //

.description {
  @include homeTabletsDescription;
  @include alignItemFlexEnd;
  margin-right: 20%;
  color: $txtColorPrimary;
}

svg.MuiSvgIcon-root.iconSocialMedia {
  color: $txtColorPrimary;
  font-size: 40px;
}

//photo//
.photoOfMe {
  @include flexJustifyFlexEnd;
  @include homeTabletsPhoto;
  margin-right: 10%;
  position: absolute;
  top: 150px;
  z-index: 1;
  visibility: hidden;
}

.me {
  border: 1px solid black;
  border-radius: 48%;
  width: 30%;
  height: 20%;
  visibility: visible;
}
