@import "../../style/_main.scss";

.navigation {
  @include flexJustifyCenter;
  @include flexDirectionRow;
  @include policeTxt;
  background-color: $barNavBackground;
  width: 100%;
}

.direction {
  @include flexDirectionRow;
  width: 75%;
  justify-content: space-around;
  padding-left: 0px;
  & a {
    color: $txtColorPrimary;
    text-decoration: none;
    list-style: none;
  }
}

.navDesktop {
  @include navMobile;
}

.mobileIcon {
  @include displayInitial;
  display: none;
}
