//Police d'écriture//

@mixin policeTxt {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

@mixin police-txt-second {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

//Flexbox//

@mixin flex {
  display: flex;
}

@mixin flexJustifyCenter {
  display: flex;
  justify-content: center;
}

@mixin flexDirectionRow {
  display: flex;
  flex-direction: row;
}

@mixin flexDirectionCol {
  display: flex;
  flex-direction: column;
}

@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}

@mixin flexJustifyFlexEnd {
  display: flex;
  justify-content: flex-end;
}

@mixin flexJustifyFlexStart {
  display: flex;
  justify-content: flex-start;
}

@mixin alignItemFlexEnd {
  display: flex;
  align-items: flex-end;
}

// Responsive Design //

@mixin homeTabletsPhoto {
  @media screen and (min-width: $breakpointsTablets) and (max-width: $breakpointsDesktop) {
    top: 300px;
  }
}

@mixin homeTabletsFooter {
  @media screen and (min-width: $breakpointsTablets) and (max-width: $breakpointsDesktop) {
    @include flexDirectionCol;
    align-items: center;
  }
}

@mixin homeTabletsLinkButton {
  @media screen and (min-width: $breakpointsTablets) and (max-width: $breakpointsDesktop) {
    margin-left: 5%;
    width: 80%;
  }
}

@mixin homeTabletsDescription {
  @media screen and (min-width: $breakpointsTablets) and (max-width: $breakpointsDesktop) {
    margin-right: 0%;
  }
}
