//Police d'écriture//

@mixin policeTxt {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

@mixin police-txt-second {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

//Flexbox//

@mixin flex {
  display: flex;
}

@mixin flexJustifyCenter {
  display: flex;
  justify-content: center;
}

@mixin flexDirectionRow {
  display: flex;
  flex-direction: row;
}

@mixin flexDirectionRowReverse {
  display: flex;
  flex-direction: row-reverse;
}

@mixin flexDirectionCol {
  display: flex;
  flex-direction: column;
}

@mixin flexDirectionColReverse {
  display: flex;
  flex-direction: column-reverse;
}

@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}

@mixin flexJustifyFlexEnd {
  display: flex;
  justify-content: flex-end;
}

@mixin flexJustifyFlexStart {
  display: flex;
  justify-content: flex-start;
}

@mixin alignItemFlexEnd {
  display: flex;
  align-items: flex-end;
}

@mixin alignItemCenter {
  display: flex;
  align-items: center;
}

// Responsive Design //

// Barre de navigation

@mixin navMobile {
  @media screen and (max-width: $breakpointsTablets) {
    display: none;
  }
}

@mixin displayInitial {
  @media screen and (max-width: $breakpointsTablets) {
    display: initial;
    color: $txtColorPrimary;
  }
}

// Page d'accueil //

// Photo //

@mixin homeTabletsPhoto {
  @media screen and (min-width: $breakpointsTablets) and (max-width: $breakpointsDesktop) {
    top: 300px;
  }
}

@mixin homeMobilePhoto {
  @media screen and (max-width: $breakpointsTablets) {
    top: 150px;
    right: 20%;
  }
}

@mixin mobilePhoto {
  @media screen and (max-width: $breakpointsTablets) {
    width: 50%;
    height: 50%;
  }
}

// Presentation //

@mixin homeTabletsFooter {
  @media screen and (min-width: $breakpointsTablets) and (max-width: $breakpointsDesktop) {
    @include flexDirectionCol;
    align-items: center;
  }
}

@mixin homeTabletsLinkButton {
  @media screen and (min-width: $breakpointsTablets) and (max-width: $breakpointsDesktop) {
    margin-left: 5%;
    width: 80%;
  }
}

@mixin homeTabletsDescription {
  @media screen and (min-width: $breakpointsTablets) and (max-width: $breakpointsDesktop) {
    margin-right: 0%;
  }
}

@mixin presentation {
  @media screen and (max-width: $breakpointsTablets) {
    width: 100%;
    margin-top: 250px;
  }
}

@mixin divTxt {
  @media screen and (max-width: $breakpointsTablets) {
    width: 100%;
    padding-left: 0%;
    align-items: center;
  }
}

@mixin nameTitle {
  @media screen and (max-width: $breakpointsTablets) {
    font-size: 35px;
  }
}

@mixin textAlignCenter {
  @media screen and (max-width: $breakpointsTablets) {
    text-align: center;
  }
}

@mixin homeMobileFooter {
  @media screen and (max-width: $breakpointsTablets) {
    @include flexDirectionCol;
    align-items: center;
  }
}

@mixin homeMobileLinkButton {
  @media screen and (max-width: $breakpointsTablets) {
    margin-left: 5%;
    width: 80%;
  }
}

@mixin homeMobileDescription {
  @media screen and (max-width: $breakpointsTablets) {
    margin-right: 0%;
  }
}

// Mes projets //

@mixin projectTitleTablet {
  @media screen and (min-width: $breakpointsTablets) and (max-width: $breakpointsDesktop) {
    text-align: center;
  }
}

@mixin projectIntroTablet {
  @media screen and (min-width: $breakpointsTablets) and (max-width: $breakpointsDesktop) {
    width: 60%;
  }
}

@mixin projectTablet {
  @media screen and (min-width: $breakpointsTablets) and (max-width: $breakpointsDesktop) {
    @include flexDirectionCol;
  }
}

@mixin titleAndTxtTablet {
  @media screen and (min-width: $breakpointsTablets) and (max-width: $breakpointsDesktop) {
    margin-bottom: 50px;
  }
}

@mixin attentionTablet {
  @media screen and (min-width: $breakpointsTablets) and (max-width: $breakpointsDesktop) {
    width: 150%;
  }
}

// projets version mobile //

@mixin projectTitleMobile {
  @media screen and (max-width: $breakpointsTablets) {
    text-align: center;
    font-size: 28px;
  }
}

@mixin projectIntroMobile {
  @media screen and (max-width: $breakpointsTablets) {
    width: 60%;
    font-size: 18px;
  }
}

@mixin projectMobile {
  @media screen and (max-width: $breakpointsTablets) {
    @include flexDirectionCol;
  }
}

@mixin titleAndTxtMobile {
  @media screen and (max-width: $breakpointsTablets) {
    margin-bottom: 50px;
  }
}

@mixin attentionMobile {
  @media screen and (max-width: $breakpointsTablets) {
    width: 150%;
  }
}

@mixin miniatureLinkMobile {
  @media screen and (max-width: $breakpointsTablets) {
    width: 70%;
  }
}

// Ma Formation //

@mixin diplomaTablet {
  @media screen and (min-width: $breakpointsTablets) and (max-width: $breakpointsDesktop) {
    @include flexDirectionCol;
    align-items: center;
    margin-top: 70px;
    width: 80%;
  }
}

@mixin iconAndDescriptionTablet {
  @media screen and (min-width: $breakpointsTablets) and (max-width: $breakpointsDesktop) {
    margin-bottom: 20px;
    width: 100%;
  }
}

@mixin certificationTablet {
  @media screen and (min-width: $breakpointsTablets) and (max-width: $breakpointsDesktop) {
    width: 80%;
    @include flexDirectionCol;
    align-items: center;
    margin-top: 70px;
  }
}

@mixin certificationTablet2 {
  @media screen and (min-width: $breakpointsTablets) and (max-width: $breakpointsDesktop) {
    width: 80%;
    @include flexDirectionCol;
    align-items: center;
    margin-top: 0px;
  }
}

// Ma formation mobile //

@mixin diplomaMobile {
  @media screen and (max-width: $breakpointsTablets) {
    @include flexDirectionCol;
    align-items: center;
    margin-top: 70px;
    width: 80%;
  }
}

@mixin iconAndDescriptionMobile {
  @media screen and (max-width: $breakpointsTablets) {
    margin-bottom: 20px;
    width: 100%;
  }
}

@mixin certificationMobile {
  @media screen and (max-width: $breakpointsTablets) {
    width: 80%;
    @include flexDirectionCol;
    align-items: center;
    margin-top: 70px;
  }
}

@mixin certificationMobile2 {
  @media screen and (max-width: $breakpointsTablets) {
    width: 80%;
    @include flexDirectionCol;
    align-items: center;
    margin-top: 0px;
  }
}

@mixin titleMobile2 {
  @media screen and (max-width: $breakpointsTablets) {
    width: 80%;
    margin-left: 10%;
    text-align: center;
  }
}

// Contact //

@mixin contactMethodMobile {
  @media screen and (max-width: $breakpointsTablets) {
    width: 100%;
    margin-left: 0%;
    margin-bottom: 50px;
  }
}

@mixin componentMobile {
  @media screen and (max-width: $breakpointsTablets) {
    width: 90%;
  }
}

@mixin iconMobile {
  @media screen and (max-width: $breakpointsTablets) {
    margin-right: 5%;
  }
}

@mixin componentDescriptionMobile {
  @media screen and (max-width: $breakpointsTablets) {
    font-size: 20px;
  }
}

@mixin curriculumVitaeMobile {
  @media screen and (max-width: $breakpointsTablets) {
    width: 90%;
    margin-left: 5%;
  }
}

@mixin linkCvMobile {
  @media screen and (max-width: $breakpointsTablets) {
    width: 30%;
  }
}

// Animations //

@mixin spinner {
  animation-name: animation-chargement;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 0.6s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-play-state: running;
  animation-fill-mode: forwards;
}
