// Couleurs //

$txtColorPrimary: #fff;
$barNavBackground: #353535;
$buttonColor: #3f8e00;
$themeBooki: #0065fc;
$themeOhmyfood1: #ff79da;
$themeOhmyfood2: #9356dc;
$themeLaChouetteAgence: #aa5f3d;

// Breakpoints //

$breakpointsTablets: 768px;
$breakpointsDesktop: 990px;
