@import "../../style/_main.scss";

// Mise en page presentation des projets //

.presentationProject {
  width: 80%;
  margin-left: 10%;
  background-color: $txtColorPrimary;
}

.introduction {
  @include flexDirectionCol;
  align-items: center;
}

.introTitle {
  @include projectTitleMobile;
  @include projectTitleTablet;
  @include flexJustifyCenter;
  width: 48%;
  font-size: 34px;
  color: black;
}

.introTxt {
  @include projectIntroMobile;
  @include projectIntroTablet;
  width: 40%;
  text-align: center;
  font-size: 20px;
}

// Mise en page des cartes de projets //

.presentationNormal {
  @include projectMobile;
  @include projectTablet;
  @include flexDirectionRow;
  @include flexSpaceBetween;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 5%;
}

.presentationReverse {
  @include projectMobile;
  @include projectTablet;
  @include flexDirectionRowReverse;
  @include flexSpaceBetween;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 5%;
}

.titleAndTxt {
  @include titleAndTxtMobile;
  @include titleAndTxtTablet;
  @include flexDirectionCol;
  @include flexJustifyCenter;
  align-items: center;
  width: 50%;
}
.attentionIcon {
  color: red;
}

.projectName {
  @include textAlignCenter;
}

.booki {
  color: $themeBooki;
  animation: apparition-menu 2s forwards;
}

.bookiBorder {
  border-top: 10px solid $themeBooki;
  padding-top: 90px;
}

.ohmyfood {
  color: $themeOhmyfood2;
  animation: apparition-menu 2s 0.2s forwards;
}

.ohmyfoodBorder {
  border-top: 10px solid $themeOhmyfood1;
  padding-top: 90px;
}

.laChouetteAgence {
  color: $themeLaChouetteAgence;
  animation: apparition-menu 2s 0.4s forwards;
}

.laChouetteAgenceBorder {
  border-top: 10px solid $themeLaChouetteAgence;
  padding-top: 90px;
}

.kanap {
  color: $themeKanap;
  animation: apparition-menu 2s 0.6s forwards;
}

.kanapBorder {
  border-top: 10px solid $themeKanap;
  padding-top: 90px;
}

.piiquante {
  animation: apparition-menu 2s 0.8s forwards;
}

.piiquanteBorder {
  border-top: 10px solid $themePiiquante;
  padding-top: 90px;
}

.groupomania {
  color: $themeGroupomania;
  animation: apparition-menu 2s 1s forwards;
}

.groupomaniaBorder {
  border-top: 10px solid $themeGroupomania;
  padding-top: 90px;
  padding-bottom: 20px;
}

.projectDescription {
  @include attentionMobile;
  @include attentionTablet;
  width: 60%;
  text-align: center;
}

.attention {
  @include attentionMobile;
  @include attentionTablet;
  width: 60%;
  text-align: center;
}

.miniatureLink {
  @include miniatureLinkMobile;
  @include flexJustifyCenter;
  width: 50%;
}

.miniatureProject {
  width: 90%;
  object-fit: cover;
  &:hover {
    box-shadow: 0px 6px 10px $buttonColor;
  }
}

.imgProject {
  width: 100%;
  object-fit: cover;
}
