@import "../../style/_main.scss";

// Mise en page presentation des projets //

.presentationProject {
  width: 80%;
  margin-left: 10%;
  background-color: $txtColorPrimary;
}

.introduction {
  @include flexDirectionCol;
  align-items: center;
}

.introTitle {
  color: black;
}

.introTxt {
  width: 50%;
  text-align: center;
  font-size: 23px;
}

// Mise en page des cartes de projets //

.presentationNormal {
  @include flexDirectionRow;
  @include flexSpaceBetween;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 5%;
}

.presentationReverse {
  @include flexDirectionRowReverse;
  @include flexSpaceBetween;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 5%;
}

.titleAndTxt {
  @include flexDirectionCol;
  @include flexJustifyCenter;
  align-items: center;
  width: 50%;
}

.booki {
  color: $themeBooki;
}

.bookiBorder {
  border-top: 10px solid $themeBooki;
  padding-top: 90px;
}

.ohmyfood {
  color: $themeOhmyfood2;
}

.ohmyfoodBorder {
  border-top: 10px solid $themeOhmyfood1;
  padding-top: 90px;
}

.laChouetteAgence {
  color: $themeLaChouetteAgence;
}

.laChouetteAgenceBorder {
  border-top: 10px solid $themeLaChouetteAgence;
  padding-top: 90px;
}

.projectDescription {
  width: 60%;
  text-align: center;
}

.miniatureLink {
  @include flexJustifyCenter;
  width: 50%;
}

.miniatureProject {
  width: 90%;
  object-fit: cover;
}

.imgProject {
  width: 100%;
  object-fit: cover;
}
